<div>Beste Einzelspieler</div>
<table class="table is-striped is-hoverable">
  <thead>
    <tr>
      <th><abbr title="Platz">Pl</abbr></th>
      <th>Name</th>
      <th><abbr title="Leistungsindex">LI</abbr></th>
      <th><abbr title="Spiele">S</abbr></th>
      <th><abbr title="Spiele gewonnen">SP+</abbr></th>
      <th><abbr title="Spiele verloren">SP-</abbr></th>
      <th><abbr title="Quote">Q</abbr></th>
      <th><abbr title="Tore">T</abbr></th>
      <th><abbr title="Gegentoren">GT</abbr></th>
      <th><abbr title="Tordifferenz">TD</abbr></th>
    </tr>
  </thead>
  <tbody>
    <% local_assigns[:stat].each_with_index do |stat, index| %>
      <tr>
        <th><%= index + 1%></th>
        <th><%= stat.player.name %></th>
        <th><%= stat.single_performance_index %></th>
        <th><%= stat.single_total_score %></th>
        <th><%= stat.single_score %></th>
        <th><%= stat.single_score_against %></th>
        <th><%= stat.single_percentage %>%</th>
        <th><%= stat.single_goals %></th>
        <th><%= stat.single_goals_against %></th>
        <th><%= stat.single_goal_difference %></th>
    <% end %>
  </tbody>
</table>
