<section class="hero is-primary is-small gradient">
  <div class="hero-head">
    <%= render partial:"shared/navigation" %>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        <h1 id="single" class="title"><%= @player.name %></h1>
      </h1>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs is-centered">
      <ul>
        <li><a href="#overall">Gesamtspiele</a></li>
        <li><a href="#single">Einzelspiele</a></li>
        <li><a href="#double">Doppelspiele</a></li>
        <li><a href="#pair">Doppelpaare</a></li>
      </ul>
    </nav>
  </div>
</section>

<section class="section">
  <a href="#top" class="up-arrow"><i></i><span>HOCH</span></a>

  <div class="columns">
    <div class="column"><%= render partial: "players/rankings/overall", locals: { stats: @player.stats } %></div>
  </div>

  <div class="columns">
    <div class="column"><%= render partial: "players/rankings/single", locals: { stats: @player.stats } %></div>
  </div>

  <div class="columns">
    <div class="column"><%= render partial: "players/rankings/double", locals: { stats: @player.stats } %></div>
  </div>

  <div class="columns">
    <div class="column"><%= render partial: "players/rankings/pair", locals: { stats: @player.double_stats } %></div>
  </div>
</section>
