<section class="hero is-primary is-small is-bold">
  <div class="hero-head">
    <%= render partial:"shared/navigation" %>
  </div>
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Lifetime Stats
      </h1>
    </div>
  </div>

  <div class="hero-foot">
    <nav class="tabs">
      <div class="container">
        <ul>
          <li><a href="#overall">Beste Gesamtspieler</a></li>
          <li><a href="#single">Beste Einzelspieler</a></li>
          <li><a href="#double">Beste Doppelspieler</a></li>
          <li><a href="#pair">Beste Doppelpaare</a></li>
        </ul>
      </div>
    </nav>
  </div>
</section>

<section class="section">
  <input id="search" class="input" type="text" placeholder="Suche">

  <a href="#top" class="up-arrow"><i></i><span>UP</span></a>

  <div class="columns">
    <div class="column"><%= render partial: "rankings/overall", locals: { stat: @overall } %></div>
  </div>

  <div class="columns">
    <div class="column"><%= render partial: "rankings/single", locals: { stat: @singles } %></div>
  </div>

  <div class="columns">
    <div class="column"><%= render partial: "rankings/double", locals: { stat: @doubles } %></div>
  </div>

  <div class="columns">
    <div class="column"><%= render partial: "rankings/pair", locals: { stat: @pairs } %></div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    initSearch("search");
  });
</script>
